# Notebook for Alura data-analysis and visualization course

In [1]:
msg="Hello world"
print(msg)

Hello world

In [3]:
import pandas as pd

notas = pd.read_csv("ratings.csv")
notas.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
notas.shape

(100836, 4)

In [6]:
import os

print(os.getcwd())

c:\Users\dev\Documents\Python\alura-projects\python-alura-projects\data-science\data-analysis-and-visualization

OBS: functionality below to open csv from zip file isn't from course

In [7]:
import pandas as pd
import zipfile

zf = zipfile.ZipFile('./data/ml-latest-small.zip') 
df = pd.read_csv(zf.open('ml-latest-small/ratings.csv'))
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

Returning to course from here: